body{
    height: 100%;
    width: 100%;
    background-color: #f9cdcd;
     
}

h1{
    display: flex;
    justify-content: center;
    align-items: center;
}

.login{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 10%;
    background-color: #d4b8ca;
    padding: 1%;
     border-radius: 10%;
     width: 70%;
}

.login *{
    margin: 1%;
}

.login span{
    display: flex;
    left: 10%;
}